.link-interno {
  font-family: var(--font-primary);
  text-decoration: none;
  color: var(--black-deep);
  font-weight: var(--font-light);
  margin: 0 8px;
  font-size: clamp(1rem, 1.1vw, 1.1rem);
  transition: 0.5s;
  transition-behavior: smooth;

  text-underline-offset: 5px;
  
}
.link-interno:hover {
  color: rgb(157, 154, 154);
  transition: 0.5s;
  filter: blur(0.1px);
  transition-behavior: smooth;
}

header {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.container-header {
  display: grid;
  grid-template: 80px / repeat(2, auto);

  padding: .6vw 4vw;
  justify-content: space-between;
  align-items: center;


  margin: auto;
}

.logo-icon-saints {
  width: 90px;
}

.burguer-menu {
  display: none;
  position: fixed;
  top: 30px;
  right: 24px;
  z-index: 9999;
}

.nav-header-menu {
  display: flex;
  gap: 20px;
}

@media (max-width: 760px) {
  .nav-header-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    height: 100%;
    width: 100vw;
    width: -webkit-fill-available;
    z-index: 8888;
    
    background: #ffffffde;
    backdrop-filter: blur(22px);
    transition: 0.5s;
  }

  .nav-header-menu.is-open {
    display: flex;
  }

  .link-interno {
    font-size: 1.8rem;
  }

  .burguer-menu {
   display: block;
  }

  .burguer-menu div {
    width: 32px;
    height: 2px;
    background: var(--black-deep);
    margin: 8px;
    cursor: pointer;
    transition: 0.3s;
  }

  .first-line.active {
    transform: rotate(-41deg) translate(-7px, 7px);
  }
  .second-line.active {
    transform: rotate(41deg) translate(-1px, 1px);
  }
}