:root {
  --bg-main: #f5f5f7;
  --bg-card: #ffffff;
  --bg-user: #0b0b0b;
  --bg-bot: #f1f1f3;

  --text-main: #1d1d1f;
  --text-muted: #6e6e73;

  --radius: 18px;
  --radius-sm: 14px;

  --shadow-soft: 0 20px 60px rgba(0,0,0,.18);
}

.chat-atendimento {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 320px;
  background: var(--bg-card);
  border-radius: var(--radius);
  box-shadow: var(--shadow-soft);
  display: none;
  flex-direction: column;
  overflow: hidden;
  z-index: 1000;
  font-family: var(--font-primary);
}

.chat-atendimento.open {
  display: flex;
}

.span-in-chat{
  text-transform: uppercase;
}

.chat-header {
  font-family: var(--font-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
  color: var(--text-main);
  border-bottom: 1px solid rgba(82, 81, 81, 0.597);
  background-color: var(--black-main);
  color: var(--white-main);
  height: 60px;
}

.chat-actions button {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: var(--white-main);
  margin-left: 10px;
}

.chat-actions button:hover {
  color: var(--white-soft);
}

#mensagens {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 300px;
  overflow-y: auto;
}

.msg {
  font-size: 14px;
  line-height: 1.4;
}

.msg.bot {
  background: var(--bg-bot);
  color: var(--text-main);
  padding: 10px 14px;
  border-radius: var(--radius-sm);
  max-width: 85%;
}

.msg.user {
  background: var(--bg-user);
  color: #fff;
  padding: 10px 14px;
  border-radius: var(--radius-sm);
  align-self: flex-end;
  max-width: 85%;
}

#input-area {
  padding: 12px;
  display: flex;
  gap: 8px;
  border-top: 1px solid rgba(0,0,0,.06);
}

#input-area input,
#input-area select,
#input-area textarea {
  flex: 1;
  border-radius: 12px;
  border: 1px solid rgba(0,0,0,.2);
  padding: 10px;
  font-size: 14px;
  resize: none;
}

#input-area button {
  background: #000;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 0 14px;
  cursor: pointer;
}

#chat-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 220px;
  height: 60px;
  background-color: #121212;
  border-radius: var(--radius-lg);
  background-size: contain;
  cursor: pointer;
  z-index: 999;
  text-align: center;
}


#p-in-chat-toggle{
  color: #f5f5f7;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0px 0px 5px 0px;
  font-size: 10px;
}

#p-in-chat-toggle::before {
  content: url(midia/images/chat-4-24.png);
  margin-right: 10px;
  vertical-align: middle;
}